<template>
  <h1>Hello world!</h1>
</template>

<script setup>
useHead({
  titleTemplate: (titleChunk) => {
    return titleChunk ? `${titleChunk} - The Site Title` : "Site Title"
  },
  htmlAttrs: {
    lang: "en",
  },
  meta: [
    { charset: "utf-8" },
    { name: "viewport", content: "width=device-width, initial-scale=1" },
    {
      hid: "description",
      name: "description",
      content: "Site Description",
    },
    { name: "format-detection", content: "telephone=no" },
    { name: "keywords", content: "" },
  ],
  link: [{ rel: "icon", type: "image/x-icon", href: "/favicon.ico" }],
})
</script>
