<template>
  <div class="flex flex-col items-center justify-center bg-base-100 px-4 py-10">
    <Transition>
      <h1 v-show="showElements" class="anim-1 mb-4 text-5xl text-white">
        Oh no!
      </h1>
    </Transition>

    <Transition>
      <span
        v-show="showElements"
        class="anim-2 mb-4 text-center text-xl text-white lg:text-2xl"
      >
        {{
          error.statusCode == 404
            ? "The page you are looking for doesn't exist."
            : "Something went wrong."
        }}
      </span>
    </Transition>

    <Transition>
      <img
        v-show="showElements"
        class="anim-3 w-3/4 rounded-md lg:w-1/2"
        src="/images/cat404.png"
      />
    </Transition>

    <Transition>
      <h1 v-show="showElements" class="anim-4 mt-5 text-5xl text-white">
        {{ error.statusCode }}
      </h1>
    </Transition>

    <Transition>
      <button
        v-show="showElements"
        class="anim-5 mt-5 rounded-md bg-primary p-3 font-semibold text-dark-gray hover:bg-primary-focus active:bg-primary-focus"
        @click="handleError"
      >
        Go back home
      </button>
    </Transition>
  </div>
</template>

<script setup>
const { error } = defineProps({
  error: Object,
})

const showElements = ref(false)

onMounted(() => {
  showElements.value = true
})

const handleError = () => clearError({ redirect: "/" })
</script>

<style lang="scss" scoped>
.v-enter-active,
.v-leave-active {
  transition: 1s 1s ease;
  transition-property: opacity, transform;
}

.v-enter-to,
.v-leave {
  opacity: 1;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}

.anim {
  &-1 {
    transition-delay: 0ms;
  }
  &-2 {
    transition-delay: 200ms;
  }
  &-3 {
    transition-delay: 400ms;
  }
  &-4 {
    transition-delay: 600ms;
  }
  &-5 {
    transition-delay: 800ms;
  }
}
</style>
